{url template}
{layout "@layout.latte"}

{block #title}Pravidla{/block}

{block #header}
<h1>Pravidla</h1>
<p class="lead">Ten umí to a ten zase tohle</p>
{/block}

{block #content}
{block|texy}
###### O co jde .[toc]
 
{/block}
{/block}